      
/*
Project     : Typography Fix
Git URL     : https://github.com/themeix/typography-fix
License     : GPL v2.0
Last updated: 2021-03-03
Author      : Themeix  - https://themeix.com
*/

.typofix {
	--link-color:#3366ff;
	--border-color: #e3e4e4;
	--blockquote-bg: #ffffff;
	--blockquote-border: #3366ff;
	--mark-color: #ffeb3b;
	--base-font-size: 16px;
	 
	--text-font-weight: 400;
	--text-line-height: 1.7;
 
	--heading-line-height: 1.3;
	--heading-font-weight: 600; 
	--spacing-size: 16px;  
} 

/*
  Reset .typofix element styles to avoid unwanted inheritance
*/
.typofix *{
 
	line-height: var(--text-line-height);
	font-weight: var(--text-font-weight);
}
/*
  Block-level elements
*/
.typofix h1,
.typofix h2,
.typofix h3,
.typofix h4,
.typofix h5,
.typofix h6 {
 
	font-weight: var(--heading-font-weight);
	line-height: var(--base-line-height);
	margin-bottom: var(--spacing-size);
}
.typofix h1 {
	font-size: calc(var(--base-font-size) * 2.75);
}

.typofix h2 {
	font-size: calc(var(--base-font-size) * 2.25);
}

.typofix h3 {
	font-size: calc(var(--base-font-size) * 1.5);
}

.typofix h4 {
	font-size: calc(var(--base-font-size) * 1.25);
}

.typofix h5 {
	font-size: calc(var(--base-font-size) * 1);
}

.typofix h6 {
	font-size: calc(var(--base-font-size) * 0.75);
}
.typofix a,
.typofix abbr,
.typofix acronym,
.typofix address,
.typofix b,
.typofix big,
.typofix cite,
.typofix code,
.typofix del,
.typofix em,
.typofix i,
.typofix ins,
.typofix kbd,
.typofix mark,
.typofix output,
.typofix q,
.typofix ruby,
.typofix s,
.typofix samp,
.typofix small,
.typofix strike,
.typofix strong,
.typofix sub,
.typofix sup,
.typofix time,
.typofix tt,
.typofix u,
.typofix var,
.typofix dfn,
.typofix dl,
.typofix dt,
.typofix dd,
.typofix ol,
.typofix ul,
.typofix li,
.typofix blockquote,
.typofix p,
.typofix pre,
.typofix table,
.typofix caption,
.typofix tbody,
.typofix tfoot,
.typofix thead,
.typofix tr,
.typofix th,
.typofix td,
.typofix applet,
.typofix canvas,
.typofix embed,
.typofix figure,
.typofix figcaption,
.typofix iframe,
.typofix img,
.typofix object {
	line-height: var(--text-line-height);
}

/*
  Initialize spacing and colors
*/
.typofix figure,
.typofix caption,
.typofix dl,
.typofix dd,
.typofix p,
.typofix pre,
.typofix table,
.typofix ol,
.typofix ul {
	margin-bottom: var(--spacing-size);
} 
.typofix pre,
.typofix table,
.typofix th,
.typofix td {
	border: 1px solid #DBE2F2;
	border-color: var(--border-color);
}
/*
  Inline elements
*/
.typofix blockquote {
	border-left: .2em solid;
	border-left-color: var(--blockquote-border);
	background-color: var(--blockquote-bg);
	margin-left: 0;
	font-style: italic;
	padding-left: .8em;
	margin-top: 1.5em;
}
.typofix pre {
	border-radius: 2px;
	display: block;
	font-size: .75em;
	line-height: 2;
	max-width: 100%;
	overflow: scroll;
	padding: calc(1em - 1px) 1.5em;
	white-space: pre-wrap;
}
.typofix a {
	text-decoration: underline;
	color: var(--link-color);
}
.typofix strong,
.typofix b {
	font-weight: bolder;
}
.typofix u,
.typofix em,
.typofix i {
	font-style: italic;
	text-decoration: none;
}

.typofix abbr[title] {
	border-bottom: 1px dotted gray;
}
.typofix cite {
	font-style: italic;
}
.typofix code {
	padding: 0.1em 0.2em;
}
.typofix del {
	color: red;
	text-decoration: line-through;
}

.typofix ins {
	color: green;
	text-decoration: none;
}

.typofix kbd {
	padding: .2rem .4rem;
	font-size: .875em;
	color: #fff;
	background-color: #212529;
	border-radius: 0;
}

.typofix mark {
	background-color: rgba(0, 140, 255, 0.1);
	background-color: var(--mark-color);
}
.typofix small {
	font-size: .75em;
}

.typofix s {
	text-decoration: line-through;
}
.typofix sub {
	font-size: 80%;
	vertical-align: sub;
}

.typofix sup {
	font-size: .75em;
	vertical-align: super;
}

.typofix var {
	font-style: italic;
}


/*
  Lists
*/
.typofix ol {
	list-style: decimal;
}
.typofix ol ol {
	list-style: lower-alpha;
}

.typofix ol ol ol {
	list-style: lower-roman;
}
.typofix ol ol ol ol {
	list-style: decimal;
}

.typofix ul {
	list-style: circle;
}
.typofix dt {
	font-weight: bold;
	/* line-height set above */
}
.typofix dd {
	/* line-height set above */
	margin-top: 0;
}
/*
  Tables
*/

.typofix table {
	/* border set above */
	border-collapse: collapse;
	/* margin set above */
	table-layout: auto;
}
.typofix caption {
	caption-side: top;
	font-weight: bold;
	/* line-height set above */
	/* margin set above */
	margin-top: 0;
	text-align: left;
}
.typofix th,
.typofix td {
	/* border set above */
	/* color set above */
	/* line-height set above */
	padding: calc(.75em - .5px);
	text-align: left;
}
/*
  Media
*/
.typofix embed,
.typofix iframe,
.typofix figure img,
.typofix object {
	display: inline-block;
	max-width: 100%;
}
.typofix figcaption {
	font-size: .75em;
	line-height: 2;
	/* margin set above */
	text-align: left;
} 
